body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #351f39;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Chivo', sans-serif;
}

a {
    color: #e1afe7;
    font-style: italic;
    transition: .3s
}
a:hover {
    color: #ffffff;
}

p {
    color: #4c4447;
}

.banner {
    background-image: linear-gradient(rgba(107, 77, 87, 0.6), rgba(19, 13, 14, 0.6)), url('https://i.imgur.com/vGxWyek.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.container {
    width: 800px;
    margin: auto;
    align-content: center;
}

.banner h1 {
    color: white;
    font-size: 45px;
    margin: 0;

}
.banner p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}
.button {
    background-color: rgb(111, 81, 124);
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}
.button:hover {
    background-color: rgb(197, 144, 202);
    color: white;
}

.card-white {
    background: rgb(243, 237, 237);
    box-shadow: 14px 14px 14px rgba(45, 45, 45, 0.35);
    border-radius: 5px;
    width: 240px;
    text-align: center;
    padding: 24px;
    margin: 10px;
}
  
.card-white img {
    width: 120;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
}
  
.card-white h3 {
    margin-bottom: 0;
}
  
.footer {
    background: #ddb8cf;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.year {
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}